<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Details</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <style>
        body{
            padding-top: 100px;
        }
    </style>
</head>
<body>
<nav th:insert="fragments/navbar :: nav_fragment"></nav>

<div class="container">

    <div class="card">
        <div class="card-header card bg-info text-white">
            <h2>Product Details</h2>
        </div>

        <div class="card-body">

        <div>
            <p>ID: <span th:text="${productDto.id}"></span></p>
            <p>Name: <span th:text="${productDto.name}"></span></p>
            <p>Price: <span th:text="${productDto.price}"></span></p>
            <p>Details Name: <span th:text="${productDto.productDetailsDto.name}"></span></p>
        </div>


        </div>

        <div class="card-footer">
            <a href="#" class="btn btn-danger" >Back</a>
        </div>
    </div>
</div>
<footer th:insert="fragments/footer :: footer_fragment"></footer>
</body>
</html>